*{
  border: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
 
}

.climatecard {
  padding: 10px;
width: 50%;
height: 390px;
background-color: beige;
margin: auto;
align-content: center;
max-width: 600px;
background: linear-gradient(rgba(5,7,12,0.2),rgba(5,7,12,0.2));
border-radius: 18px;
}

.climatecard > * {
  margin: 10px 0;
}



.container-data {
display: flex;
justify-content: center;
gap: 40px;
}

.button {
  display: inline-block;
  border-radius: 7px;
  border: none;
  background: #1875FF;
  color: white;
  font-family: inherit;
  text-align: center;
  font-size: 15px;
  box-shadow: 0px 14px 56px -11px #1875FF;
  width: 10em;
  height: 3em;
  line-height: 1em;
  font-weight: bold;
  padding: 1em;
  transition: all 0.4s;
  cursor: pointer;
 }
 
 .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
 }
 
 .button span:after {
  content: 'F°/C°';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
 }
 
 .button:hover span {
  padding-right: 3.55em;
 }
 
 .button:hover span:after {
  opacity: 4;
  right: 0;
 }

 .title-info {
   color: #eee1fa;
   font-weight: bold;
   -webkit-text-stroke: 0.2px black;
 }

 

 .temmp {
   font-size: 30px;
   margin-bottom: 10px;
   margin-top: 15px;
 }

 .icon {
   width: 120px;

 }

 .App video {
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   width: 100%;
   
 }